<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dpk.d2dfc">
    <!-- write on external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pages.ExportDataActivity"
            android:label="@string/export_data">
        </activity>
        <activity
            android:name=".pages.FamilyAddActivity"
            android:label="@string/page_family_add" />
        <activity
            android:name=".pages.DailyFollowUpCoronaDetailsActivity"
            android:parentActivityName=".pages.PersonListActivity"
            android:label="@string/page_daily_corona_details" />
        <activity
            android:name=".pages.ExportingListActivity"
            android:parentActivityName=".pages.ExportingListActivity"
            android:label="@string/page_exportings" />
        <activity
            android:name=".pages.PersonAddActivity"
            android:label="@string/page_person_add" />
        <activity android:name=".pages.DailyFollowUpContactTraceActivity"
            android:label="@string/page_daily_contact_trace"
            android:parentActivityName=".pages.PersonListActivity"/>
        <activity
            android:name=".pages.AboutDevInfoActivity"
            android:label="@string/about_dev_info"
            android:parentActivityName=".pages.FamilyListActivity" />
        <activity android:name=".pages.SettingsActivity" />
        <activity android:name=".pages.MemberInfoDetailsActivity"
            android:label="@string/member_info"
            android:parentActivityName=".pages.PersonListActivity"/>
        <activity
            android:name=".pages.FamilyListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".pages.FamilyListActivity" />
        <activity android:name=".pages.MemberSearchActivity"/>
        <activity
            android:name=".pages.PersonListActivity"
            android:label="@string/person_list"
            android:parentActivityName=".pages.FamilyListActivity" />
        <activity android:name=".pages.DailyCoronaFollowupHealthInfo"></activity>
        <activity android:name=".pages.MemberTravelAndHeathHistory"></activity>
        <activity android:name=".pages.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>